
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: 0.5em;
  }
  
  input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  span {
    color: red;
    font-size: 0.9em;
  }
  